<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students List</title>
</head>
<body>
    <h1>Students</h1>
    <a href="/create/">Add New Student</a>

    {% if students %}
       <ul>
        {% for student in students %}
             <li>{{student.name}} ({{ student.student_id}})</li>
        {% endfor %}
       </ul>
    {% else %}
       <p>No students yet.</p>
    {% endif %}

    <a href="/admin/students/student/add">Add student (Admin)</a>
</body>
</html>