<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students List</title>
</head>
<body>
    <h1>Students</h1>
    <a href="/create/">Add New Student</a>

    {% if students %}
       <ul>
        {% for student in students %}
             <li>
                {{student.name}} ({{ student.student_id}})
                <a href="/update/{{ student.id }}">Edit</a>
                <a href="/delete/{{ student.id }}">Delete</a>
            </li>
        {% endfor %}
       </ul>
    {% else %}
       <p>No students yet. <a href="/create/">Add first student</a></p>
    {% endif %}
</body>
</html>